  <p>
    <%=	 link_to "Edit Profile", edit_user_registration_path %>
  </p>

<p>
  <b>Email:</b> <%=	 @user.email %>
</p>
  
  <p>
    <b>Sites:</b> <%	 @user.sites.each do |site| %>
    <p>
      <%=	 site.name %>
      <%=	 link_to "Edit", edit_site_path(site) %>
      <%=	 link_to "Delete", {:controller => "sites", :action => 'destroy', :id => site.id},
                      :confirm => "Are you sure?", :method => :delete %>
    </p>
    <%	 end %>
  </p>

