
<%= form_for @site do |f| %>

    <%=	 render "layouts/error_messages", :target => @site %>
    <div id="new_site">
    <p>
    <%=	 f.label :name, "Site Name:" %><span class="red">*</span><br />
    <%=	 f.text_field :name %>
    </p>
    
    <p>
      <%=	 f.label :url, "Site URL:" %><span class="red">*</span><br />
      <%=	 f.text_field :url %><br />
      <em>(http://www.example.com)</em>
    </p>
    
    <p>
      <%=	 f.label :email, "Support Email: " %><br />
      <%=	 f.text_field :email %>
    </p>
    </div>

      <div id="site_description">
    <p>
      <%=	 f.label :description, "Site Description: " %><span class="red">*</span><br />
      <span class="input_width"><%=	 f.text_area :description, :rows => 12 %></span>
        <br />
      <em>(maximum 500 characters)</em>
    </p>

    
    <p>
      <span class="ask"><%=	 f.label :links, "Type of link: " %></span>
      <%=	 f.select :links, %w(dofollow nofollow), :include_blank => true %>
    </p>
    
    <p>
      <span class="ask"><%=	 f.label :number_of_links, "Number of Links: " %></span>
      <%=	 f.select :number_of_links, %w(1 2 3 4+), :include_blank => true %>
    </p>
    
    <p>
      <span class="ask">
      <%=	 f.label :link_placement, "Link Placement: " %></span>
      <%=	 f.select :link_placement, [['Body'], ['Author/Resource Box'], ['Both']], :include_blank => true %>
    </p>


     <p>
      <span class="ask"><%=	 f.label :word_min, "Word Minimum: " %></span>
      <%=	 f.text_field :word_min  %>
      </p>

    <p>
      <span class="ask">
      <%=	 f.label :approval_time, "Approval Time: " %></span>
      <%=	 f.select :approval_time, [['Immediately'], ['24 Hours'], ['48 Hours'], ['Less than 7 days'],
                                        ['Less than 30 days'], ['More than 30 days']], :include_blank => true %></div>
    </p>

    <div id="site_description"><p>
      <%=     f.label :other_info, "Other information:"	  %><br />
      <%=	 f.text_area :other_info, :rows => 5 %>
    </p></div>


    <div id="submit_button">
    <p>
      <%=	 f.submit "Submit Article Site" %>
    </p>

    <p>
      <span class="red">*required</span>
    </p>
    </div>

       </div>
<%	 end %>
