
  <%	 @sites.each do |site| %>
      <div id="submission-site">

  <div id="site_title">
      <h3><%=	 link_to site.name, site.url, :target => "_blank"  %></h3>
  </div>

        <div id="votes">
          <div id="posvote_img">
          <%=	 form_for(@positive_vote) do |f| %>
                <%=	 f.hidden_field :site_id, :value => site.id %>
                <%=	 f.hidden_field "ip_address", :value => request.remote_ip %>
                <%=	 image_submit_tag "voteup.jpg" %>
            <%	 end %>
          </div>
          <div id="posvote_number">
          <%=	 site.positive_votes.size %>
          </div>
          <span class="vote_img">
          <%=	 form_for(@negative_vote) do |f| %>
                <%=	 f.hidden_field :site_id, :value => site.id %>
                <%=	 f.hidden_field "ip_address", :value => request.remote_ip %>
                <%=	 image_submit_tag "votedown.jpg" %>
            <%	 end %>
          </span>
           <span class="negvote_number">
          <%=	 site.negative_votes.size %>
          </span>
        </div>

  <div id="site_description">
    <%=	    site.description %><br />
    <%	 if can? :update, site %>
    <%=	 link_to "Edit", edit_site_path(site) %> |
        <%	 end %>
    <%	 if can? :delete, site %>
    <%= link_to "Delete", site, confirm: "Are you sure?", method: :delete %>

    <%	 end %>
  </div>

        <span class="more_comment"><%=	 link_to "Comments", site_path(site) %></span>

         - <span class="slide_toggle">More Info</span>

   <span class="more_info">
     <ul>
     <li><%	 if site.email.empty? %>
         <b>Support Email Not Available</b>
         <%	 else %>
           <b>Support Email:</b> <%=	 site.email %>
         <%	 end %></li>
     <li><%	 unless site.links.empty? %>
         <b>Type of link:</b> </b> <%=	 site.links %>
     <%	 end %></li>
     <li><%	 unless site.number_of_links.empty? %>
           <b>Number of links allowed:</b> <%=	 site.number_of_links %>
     <%	 end %></li>
     <li><%	 unless site.link_placement.empty? %>
           <b>Link placement Body/Resource Box:</b> <%=	 site.link_placement %>
     <%	 end %></li>
     <li><%	 unless site.word_min.empty? %>
           <b>Word minimum:</b> <%=	 site.word_min %>
     <%	 end %></li>
     <li><%	 unless site.approval_time.empty? %>
           <b>Approval time:</b> <%=	 site.approval_time %>
     <%	 end %></li>
       <li><%	 unless site.other_info.empty? %>
             <b>Other info:</b> <%=	 site.other_info %>
         <%	 end %></li>
     </ul>
   </span>
        <br />


      </div>
  <%	 end %>

  <%=	 will_paginate @sites, :param_name => 'sites_page' %>

