<!DOCTYPE html>
<html>
<head>
  <title><%=	 page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <div class="shadowtr"></div>
  <div class="shadowtl"></div>
  <div class="shadowr"></div>
  <div class="shadowbl"></div>
  <div class="shadowbr"></div>
  <div class="shadowb"></div>

  <div id="header">
    <%=	 render "layouts/header" %>
  </div> <!-- End of header -->

  <div id="stage">
    <div id="left-container">

      <%	 if flash[:notice] %>
          <div id="success_message">
             <%=	 flash[:notice] %>
          </div>
      <%	 end %>

      <%	 if flash[:error] %>
          <div id="error_message">
            <%=	 flash[:error] %>
          </div>
      <%	 end %>

      <%= yield %>
  </div> <!-- End of left container -->


    <div id="right-container">
      <%=	 render "layouts/right_sidebar" %>
    </div>



<div id="footer"></div>
</div> <!-- End of stage -->
</div> <!-- End of wrapper -->



</body>
</html>
